.dotfiles
.cache
.cargo
.dropbox
.dropbox-dist
.lesshst
.local
.mozilla
.oh-my-zsh
.pki
.rustup
.var
.viminfo
.zcomp*
.zsh_history
.bash_history
.thunderbird
.vscode/extensions
.gnome
Dropbox
Desktop
Downloads
