.dotfiles
.cache
.cargo
.dropbox
.dropbox-dist
.lesshst
.local
.mozilla
.pki
.rustup
.var
.viminfo
.zcomp*
.zsh_history
.bash_history
.thunderbird
.gnome
.android
.aur
.icons
.java
.node-gyp
.ssh
.virtualbox
.gradle
.npm
.octave_hist
.oh-my-zsh
.vscode
.wine
.wget-hsts
.profile
Dropbox
Desktop
Downloads
